* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: #FAF9F6;
  font-family: 'Mukta', sans-serif;
  color: #454545;
}

button {
  color: #454545;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-btw {
  justify-content: space-between;
}

.space-center {
  justify-content: center;
}

.btn {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 200px;
  cursor: pointer;
}

.btn-clear {
  border: none;
  background: transparent;
}

.todoapp {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.card {
  min-height: 100px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.2)
}

.todoapp h1 {
  color: #D2042D;
  text-align: center;
}

.form {
  height: 65px;
  position: relative;
}

.form input {
  box-sizing: border-box;
  height: 65px;
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 1px rgba(15, 15, 51, 0.1);
  font-size: 24px;
  font-weight: 300;
  color: #454545;
}

.form button {
  position: absolute;
  right: 13px;
  top: 13px;
  font-weight: 700;
  color: #D2042D;
}

.todo-list-container li {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.todo-list-container button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-container button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2.5px;
  background-color: #999;
  border: none;
  transform: rotate(45deg);
}


.todo-list-container button::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2.5px;
  background-color: #999;
  border: none;
  transform: rotate(135deg);

}

.todo-list-container button:hover::before,
.todo-list-container button:hover::after {
  background-color: #D2042D;
}

.label-container {
  width: 90%;
  position: relative;
}

.label-container input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.label-container .checkmark {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-radius: 50%;
  left: 10px;
  top: 3px;
}

.label-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked~.checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 4px;
  height: 12px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label-container input:checked~.checkmark {
  border: 1px solid green;
}

.label-container .todo {
  margin-left: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}

.label-container input:checked~.todo {
  color: #999;
  text-decoration: line-through;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer button {
  padding-block: 5px;
  padding-inline: 10px;
}

.filters button.active {
  border: 2px solid #D2042D;
  border-radius: 5px;
}


.footer .filters {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:600px) {
  .todoapp {
    margin: 0 auto;
    height: 100%;
    position: static;
    transform: none;
    width: 90%;
  }

  .card {
    height: 90%;
  }

  .todo-list-container {
    height: calc(100% - 115px);
    overflow-y: scroll;
  }
}

@media screen and (max-width:480px) {

  .todo-list-container {
    height: calc(100% - 165px);
    overflow-y: scroll;
  }

  .footer {
    position: relative;
  }

  .footer .filters {
    width: 50%;
    position: absolute;
    top: 50px;
  }

}